#about > div > div > div.w-full.z-10{
    position: relative;
    z-index: 3;
}
#about > div > div > div.w-full{
    position: relative;
    z-index: 3;
}
.canvadd {
    width: 100%;
    height: 520px;
    position: relative;
    z-index: 2;
}