/* Fundo principal do Hero */
.hero-bg {
  z-index: 1;
  background:
  radial-gradient(
    circle at top left,
    rgba(59, 130, 246, 0.18),
    transparent 45%
  ),
  radial-gradient(
    circle at bottom right,
    rgba(37, 99, 235, 0.18),
    transparent 45%
  ),
  linear-gradient(
    180deg,
    rgba(5, 11, 24, 0.68),
    rgba(2, 6, 23, 0.72)
  );
}

/* Overlay escuro pra dar profundidade */

.doido {
  z-index: -2;
}

/* Glow mais forte */
.glow {
  text-shadow:
    0 0 10px rgba(59, 130, 246, 0.9),
    0 0 25px rgba(59, 130, 246, 0.7),
    0 0 40px rgba(59, 130, 246, 0.4);
}

/* Floating mais suave */
.floating {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-18px); }
  100% { transform: translateY(0); }
}

#home{
    min-height: 92vh;
}

@media (max-width: 768px) {
  #home{
    margin-top: 4rem;
  }
  }

.btn_pro {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-con {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}
