@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header{
    background-color: #0f172a; /* Tailwind's bg-gray-800 */
    font-family: "Inter", sans-serif;
}

.logo{
    width: 6rem; /* Tailwind's w-24 */
    margin-left: 12rem; /* Tailwind's ml-14 */

}

.nav{
    margin: 0 auto;
    font-size: 1.2rem;
}

.link {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #79a3ec;
  transition: width 0.3s ease;
}

.link:hover{
    color: #79a3ec; /* Tailwind's gray-400 */
    transition: color 0.3s ease;

}
.link:hover::after {
  width: 100%;
}

.link:active{
    color: #4c51bf; /* Tailwind's indigo-700 */
}

.btn{
    background-color: #3b82f6; /* Tailwind's blue-500 */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem; /* Tailwind's rounded-md */
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.div_btn{
    margin-right: 12.5rem; /* Tailwind's mr-14 */
}

.btn:hover{
    background-color: #2563eb; /* Tailwind's blue-600 */
}




